@import "colors";
@import "text";

@font-face {
  font-family: "GNUGrotesk";
  src: url("/fonts/GNUGROTESK-VF.TTF");
}
@font-face {
  font-family: "Neue montreal";
  src: url("/fonts/PPNEUEMONTREAL-BOLD.OTF");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "GNUGrotesk";
  font-size: 18px;
  letter-spacing: -2%;
}

a {
  color: var(--c-black);
  font-weight: 400;
}
